<div class="card" style="width: 18rem;">
  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fukmadcat.com%2Fwp-content%2Fuploads%2F2019%2F04%2Fsleepy-cat.jpg&f=1&nofb=1" class="card-img-top" alt="Cat image">
  <div class="card-body">
    <h5 class="card-title">Cat card</h5>
    <p class="card-text">This is a cat card with a picture of a sweet kitty sleeping.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
