<div class="card" style="width: 18rem;">
  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fukmadcat.com%2Fwp-content%2Fuploads%2F2019%2F04%2Fsleepy-cat.jpg&f=1&nofb=1" class="card-img-top" alt="Cat image">
  <div class="card-body">
    <h5 class="card-title">Cat card</h5>
    <p class="card-text">This is a cat card with a picture of a sweet kitty sleeping.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
